:root { 
--black_900_4c:#0000004c; 
--blue_gray_100:#cfcfcf; 
--black_900:#000000; 
--blue_gray_100_01:#d9d9d9; 
--teal_900:#093545; 
--blue_gray_800:#224957; 
--blue_gray_700:#296763; 
--blue_gray_900:#2c2c2c; 
--black_900_3f:#0000003f; 
--gray_300:#e5e5e5; 
--white_A700:#ffffff; 
--green_A400:#20df7f; 
}