
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LexendDecaRegular.ttf"); font-family : "Lexend Deca"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratMedium.ttf"); font-family : "Montserrat"; font-weight : 500;  }